
{% from 'button/macro.njk' import button %}

{% extends '../layout.html' %}

{% block pageTitle %}
  NHS Blood and Transplant
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Book a blood sample for COVID-19 plasma donation
      </h1>

      <hr>

      <h2>
        You can be the difference
      </h2>

      <p>
        Thank you for volunteering to have the antibody levels in your blood plasma tested to see if you would be a suitable candidate to donate convalescent blood plasma.
      </p>

      <form action="/mvp3/donor-id" method="get">
        {{ button({
          "text": "Book an antibody blood test"
        }) }}
      </form>

      <hr>
    </div>
  </div>
{% endblock %}
