{% from 'radios/macro.njk' import radios %}
{% from 'button/macro.njk' import button %}
{% from 'back-link/macro.njk' import backLink %}
{% extends '../layout.html' %}
{% block pageTitle %}
    NHS Blood and Transplant
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form action="/mvp/external-pharmacy" method="post">
        

        {{ radios({
          "idPrefix": "pharmacy",
          "name": "pharmacy",
          "hint": {
            "text": "This will take you to the pharmacy's website to complete your booking."
          },
          "fieldset": {
            "legend": {
              "text": "Which pharmacy would you like to attend for your sample?",
              "classes": "nhsuk-fieldset__legend--l",
              "isPageHeading": true
            }
          },
          "items": [
            {
              "value": "boots",
              "text": "Boots",
              "hint": {
                  "text": "Not all Boots pharmacies can do sampling."
              }
            },
            {
                "value": "superdrug",
                "text": "Superdrug",
                "hint": {
                    "text": "Not all Superdrug pharmacies can do sampling."
                }
              }
          ]
        }) }}



        {{ backLink({
        "href": "/mvp/test-medium",
        "text": "Go back"
        }) }}
        {{ button({
            "text": "Save and continue"
            }) }}
      </form>
    </div>
  </div>
{% endblock %}
